<html><head><title>Индикатор</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="main">
<h3><a href="/index.tpl">На главную</a></h3><br>
<h1>Индикатор</h1>
<p>
Проверить работоспособность.
</p>
<form method="post" action="led.cgi">
<input type="submit" name="led" value="Тест">
<!--<input type="submit" name="led" value="0">-->
</form>
</div>
</body></html>
