<html><head><title>Индикатор</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="wifi/style.css">
</head>
<body leftmargin="0" topmargin="0">





<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" height="100" bgcolor="#005155">
      <p style="margin-left:8px;margin-top:10px;"><a href="http://www.wiregeo.com"><img src="WireGeoS.gif"></a><font size="5" style="vertical-align:0px; margin-left:30px; color:#FFFFFF"><b>WiFi RS-485 Router Setup</b></font></p>
	  <hr size="1"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><b><a class="aa" href="/index.tpl" target="a">RS-485 &amp; Port Settings</a> <a class="aa" href="/wifi" target="a">Wi-Fi Connection</a> <a class="aa current" href="#" target="a">Diagnostics</a> </b></td>
        <td><p align="right" style="margin-right:10; color:#FFFFFF">Version: 1.0</p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">
    
    
      <div style="margin-left:20;">&nbsp;
      
      <p><b>LED Indicator</b></p>

      
      <form method="post" action="led.cgi">
      <p>Click to check LED indicator: </p>
      <p>
        <input type="submit" name="led" value="Test">
      </p>
      <!--<input type="submit" name="led" value="0">-->
      </form>

      <p>
      
      </p>
    </div>
    
    </td>
  </tr>
  <tr>
    <td height="30"  bgcolor="#005155"><p align="center" style="color:#FFFFFF">© 2016 WireGeo</p></td>
  </tr>
</table>


</body></html>
